/* animation style */

  .animation {
    display: inline-block;
    border-right: 0.15em solid orange; 
    clip-path: inset(0 100% 0 0);
    animation: 
      typing 3.5s steps(9, end) forwards,
      freshness 0.75s step-end infinite;
  }
  
  
  @keyframes typing {
    from { clip-path: inset(0 100% 0 0); } 
    to { clip-path: inset(0 0 0 0); } 
  }
  
  
  @keyframes freshness {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  
  